#map {
    height: 400px;
    width: 850px;
}

#filter {
	height: 500px;
	width: 300px;
}	

#homepage-left, #homepage-right {
	display: inline-block;
}

.table {
	margin-bottom: 0;
}

.react-bs-table {
	margin-top: 20px;
}

.navbar .container ul li {
	display: inline;
	float: left;
	padding: 20px;
}

.my-groups-column {
	width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

.group-i-own, .group-im-in {
	margin-left: 15px;
}

.group-members-section, .add-group-member-section, .group-members-list {
	margin-left: 15px;
}

.create-group-name-input, .add-member-input {
	margin-left: 15px;
	width: 200px;
	display: inline-block;
}

.create-group-btn, .add-member-btn {
	margin-left: 5px;
	display: inline-block;
}

.remove-from-group-btn {
	margin-left: 10px;
	display: inline-block;
}

.group-im-in-name {
	display: inline-block;
}

.create-event-input-label, .create-event-input-option {
	display: inline-block;
}

.create-event-input-label {
	width: 170px;
}

.create-event-input-option {
	width: 80%;
}

#homepage-container {
	margin-left: 15px;
	margin-right: 15px;
}

.popup-event-name {
	font-weight: bold;
	font-style: italic;
}

.logo-img {
	width: 80%;
}

.username-password-container, .login-signup-btn {
	width: 80%;
}

.login-signup-btn, .login-signup-btn:hover {
	background-color: #1fbcd2;
    color: white;
    border-color: white;
    width: 80%;
    margin-bottom: 5px;
}

.login-signup-btn:hover {
	background-color: #06A3B9;
	font-weight: 500;
}

.login-signup-container {
	text-align: center;
	margin-top: 100px;
}

.login-register-input {
	text-align: center;
}

.username-password-container {
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: #1fbcd2;
}

.login-register-panel {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.switch-login-register {
	color: #808080;
}